@charset "utf-8";

@media screen and (max-width:1520px){
.abox2,.menu2_img, .menu3_img{display: none; }
.depth2{float: left; width: 20%; padding-left: 50px;}
.pd2txt3{display:none;}
}

@media screen and (max-width:1380px){
.tab_product2{
  height: 100%; width: 100%;
  background-image: url(../img/tab_p4.png); 
  background-size: cover;
background-position: 45% 50%;}
.tab_product2 iframe{
  width: 600px; height: 400px; 
  position: absolute; top:50%; left:50%; transform: translateY(-50%);}
 }

@media screen and (max-width:1200px){
.mainmenu{text-align: left; float:left; width: 55%;}
.jb{float:left; width:22.5%;text-align:right; }
.snsicon {text-align: right;float:right; width: 22.5%;}
#product{position: relative; padding-bottom: 0px;}
.tab_mov{
    height: 100%; width: 100%;
    background-image: url(../img/tab_p3.png); 
    background-size: cover;
    background-position: 25% 50%;}
.tab_mov iframe{ width: 600px; height: 400px; border-radius: 25px;
    position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%);}
.tab_product2 iframe{
    width: 500px; height: 400px; 
    position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
   .pdul2{ max-width: 700px; margin: 0 auto; overflow: hidden;} 
   .pdul2 li{  
    float: left; width: 100%; height: 300px; overflow: hidden; 
    margin-left:0% ;  margin-bottom: 5px; color: #fff;} 
  .pdul2 li:nth-child(odd){margin-left:0% ;}

}


@media screen and (max-width:1024px){
    #header .logo{float: inherit; position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%);}
    #header h1 a{
        display: inline-block; 
        width: 200px;
        height: 80px; line-height: 80px;
        text-align: center; font-size: 25px; font-weight: bold; }
    .mainmenu{display: none;}
    .jb{display: none;}
    .snsicon {display: none;}
    .login{display: none;}
}



@media screen and (max-width:799px) {


}

