@charset "utf-8";

@media screen and (max-width:1520px){
.abox2,.menu2_img, .menu3_img{display: none; }
.depth2{float: left; width: 20%; padding-left: 50px;}
.pd2txt3{display:none;}
}


@media screen and (max-width:1200px){
.mainmenu{text-align: left; float:left; width: 55%;}
.jb{float:left; width:22.5%;text-align:right; }
.snsicon {text-align: right;float:right; width: 22.5%;}

}


@media screen and (max-width:1024px){

  
}



@media screen and (max-width:799px) {


}

